$mobileBreakpoint:  480px;
$tabletBreakpoint:  968px;
$desktopBreakpoint: 1900px;

$fontColor: white;
$visitedLink: white;
$hoverLink: red;


.navbar-wrapper{
  height: 7.5vh;
  padding-top: 0.5rem;
  position: sticky;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  
  .navbar-logo{
    margin-left: 5.5rem;
  }
  .navbar-menu{
     margin-left: 10.5rem;
    .link{
      text-decoration: none;
      color:$fontColor;
    
      &:hover {
        color:$hoverLink;
      }
      &:visited {
        color:$visitedLink;
      }

      }
    
    .navbar-item{
      margin: 1rem;
    }
  }
}