.contenedor {
    width: 95vw;
    height: 95vh;
    display: flex;
    border-radius: 10%;
    background-color: #c4b49a;
    overflow: hidden;
    margin: 1em;
  }
  .content {
    width: 50%;
    margin: 1.5em;
    padding: 0.2em;
  }
  .pic {
    background-image: url("https://unsplash.com/photos/JIUjvqe2ZHg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 50%;
  }