@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.global-wrapper {
  max-width: 100vw;
  min-height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.global-wrapper .wrapper {
  padding-top: 0.5rem;
  color: white;
  background-color: #407294;
  min-height: 55vh;
}

.global-wrapper .wrapper .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.3rem;
}

.global-wrapper .wrapper .navigation .firm-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.global-wrapper .wrapper .navigation .firm-logo .wistia-name {
  margin-left: 0.3rem;
  font-size: 1.5rem;
}

.global-wrapper .wrapper .navigation .login-button {
  border: 1 solid white;
  background-color: #407294;
  color: white;
}

.global-wrapper .wrapper .section-hero {
  padding: 1rem;
  text-align: center;
  line-height: 2.5rem;
}

.global-wrapper .wrapper .section-hero .section-hero-text {
  font-size: 2rem;
}

.global-wrapper .wrapper .section-hero .section-hero-description {
  font-size: 1 rem;
  color: silver;
}

.global-wrapper .wrapper .section-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 468px) {
  .global-wrapper .wrapper .section-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.global-wrapper .wrapper .section-form .input-form {
  width: 43%;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 0;
}

.global-wrapper .wrapper .section-form .input-select {
  width: 92%;
  padding: 1rem;
  margin: 0.5rem;
}

.global-wrapper .wrapper .section-form .input-button {
  width: 92%;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 0;
  background-color: #121b24;
  color: white;
}

.global-wrapper .wrapper .section-form .form-terms {
  color: silver;
  font-size: 0.8rem;
  padding: 0.5rem;
}

.global-wrapper .footer {
  padding-top: 3.5rem;
  padding-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.8rem;
}

@media (max-width: 468px) {
  .global-wrapper .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.global-wrapper .footer .footer-paragraph {
  max-width: 300px;
  margin: 1.3rem;
  line-height: 1.4rem;
}

.global-wrapper .footer .footer-paragraph .footer-title {
  padding-bottom: 0.5rem;
}
/*# sourceMappingURL=main.css.map */