$fontColor: white;
$playButtonColor: #ED0A1D;
$buttonColor:rgba(157, 151, 151, 0.5415);
$mobileBreakpoint:  480px;
$tabletBreakpoint:  768px;
$smartdeviceBreakpoint: 968px;
$regularBreakpoint: 1024px;


$visitedLink: white;
$hoverLink: grey;

.hero-wrapper{
  padding: 2.5rem;
  min-height: 60vh;
  max-width: 100vw;
  color: $fontColor;
  background-color: black;
  .general-wrapper{
    max-width:45vw;
    padding-top: 2rem;
    .name{
      font-size: 7.5rem;
      font-weight: 800;
    }
    .button {
      padding: 1.5rem;
      margin: 2rem 0.5rem 0rem 0rem;
      background-color: $buttonColor;
      border-radius: 15px;
      text-decoration: none;
      font-size: 1.5rem;
      color:white;
      &:hover{
        background-color: $playButtonColor;

      }
    }
    .content-details{
      display: flex;
      font-size: 1.2rem;
      padding: 1rem 0 1rem 0;
      font-weight: 800;
      .year, .rating, .seasons {
        padding-right: 1rem;
      }

      }
    
      
    }
    .hero-synopsis{
      max-width: 35vw;
      padding-bottom: 3.5rem;
      font-size: 1.5rem;
      text-align: justify;
    }
     .iconStyle{
      padding: 0.6rem;
      margin-right: 0.5rem;
      font-size: 3.5rem;
      border: 1px solid white;
      border-radius: 50%;
      position: relative;
      left: 0.3rem;
      top: 1.15rem;
      &.up {
        color: green;
        border-color: green;
      }
      &.down {
         color:red;
         border-color: red;
      }
    }
   
  }