$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 900px;
$background-template:#eeeaea;
$vision-background: #363636;
$main-wrapper-width: 100vw;
$wrapper-width: 45%;
$background-account-activation: white;
$font-color:black;
$font-size: 0.9rem;
$button-font-size:0.8rem;
$button-backgroundcolor:#02b3ce;
$feedback-background:#7ebad2;
$section-font-color:white;
$socialmedia-background: #5e5555;

.main-wrapper{
    width: $main-wrapper-width;
    background-color: $background-template;
    display: flex;
    flex-direction: column;
        @media(max-width:$mobile-breakpoint){
            width: 35%;
        }



    .wrapper{
        max-width: $wrapper-width;
        margin: 0 auto;
        .wrapper-footer-text{
            text-align: center;
            padding: 0.5rem;
        }
        .wrapper-socialmedia{
            display: flex;
            justify-content: space-around;
            padding: 1rem;
            background-color: $socialmedia-background;
        }
        .wrapper-feedback{
            background-color: $feedback-background;
            color: $section-font-color;
            font-size: $font-size;
            text-align: center;
            line-height: 2remrem;
            padding: 3rem;
                .wrapper-feedback-content{
                    .wrapper-feedback-content-text{
                        padding: 1.2rem;
                    }
                
            }
            .wrapper-feedback-button{
                    .wrapper-feedback-button-text{
                   background-color: white;
                   padding: 0.5rem;
                   color:$feedback-background;
                   font-size: $button-font-size;
                   border-radius: 12px;
                }
               }

                .wrapper-feedback-header{
                        .wrapper-feedback-header-title{
                    font-weight: 600;           
                }
            }
        }
            .wrapper-accwelcome-author{
                background-color: $background-account-activation;
                display: flex;
                .wrapper-accwelcome-authorpic{
                    width: 50px;
                    height: 50px;
                    border-radius: 50px;
                    background-image: url("https://images.unsplash.com/photo-1525104885119-8806dd94ad58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                .wrapper-accwelcome-authorname{
                    font-size: $font-size;
                    line-height: 0.9rem;
                    padding: 1rem;

                    .wrapper-accwelcome-authorname-text{
                        font-weight: 600;
                    }
                }


            }
            .wrapper-accwelcome{
            background-color: $background-account-activation;
            .wrapper-accwelcome-content{
                font-size: $font-size;
                text-align: justify;
                line-height:1rem;
                padding: 1rem;
                    .wrapper-accwelcome-content-p{
                        line-height: 1.2rem;
                        padding-bottom: 1.5rem;
                    
                }

            }
            .wrapper-accwelcome-header{

                .wrapper-accwelcome-header-text{
                    padding: 1.5rem;
                    font-size: $font-size;
                    font-weight: 600;
        
                }

            }
            }
        }
        .wrapper-heroimage{
            height: 325px;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: $section-font-color;
            text-align: center;
            .wrapper-heroimage-header{
                font-size: 2.5rem;
                font-weight: 600;
                letter-spacing: 0.2rem;
                padding-top: 1rem;
            
                
            }
            .wrapper-heroimage-content{
                letter-spacing: 0.2rem;
                line-height: 1.5rem;
                padding: 3rem;

          
            }
            .wrapper-heroimage-button-text{
                background-color: $button-backgroundcolor;
                font-weight: 600;
                border-radius: 12px;
                font-size: $button-font-size;
                padding: 0.5rem;
            }   
         
        }  
        .wrapper-vision{
            background-color: $vision-background;
            color: $section-font-color;
            .wrapper-vision-title{
                text-align: center;
                padding: 1rem;
                letter-spacing: 0.2rem;
            }  
        }
    }
