$BackgroundFooterHeader: white;
$SectionAsideBakcground: grey;
$FilterBackground: white;
$FontColor: black;
$FontSize: 1rem;
$GlobalWrapperWidth: 100vw;

*,
*:after,
*:before {
box-sizing: border-box;
margin: 0;
}

.header {
background-color: $BackgroundFooterHeader;
max-height: 70vh;
font-size: 2.5rem;
color: $FontColor;
padding: 1.5rem;
}
.global-wrapper {
display: flex;
background-color: $SectionAsideBakcground;
max-width: $GlobalWrapperWidth;
.aside {
    max-width: 50vw;
    background-color: red;
    .filter-title {
    padding-left: 0.5rem;
    padding-top: 1rem;
    font-weight: 600;
    }
    .filter-tag {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: $FilterBackground;
    border-radius: 20px;
    }
}
.product-gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    flex-direction: column;
    padding-left: 3.5rem;
    .product-gallery-title {
    background-color: green;
    padding-top: 1rem;
    /*padding-bottom: 2.5rem;*/
    font-weight: 600;
    }
    .product-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .product-card {
        max-width: 450px;
        text-align: left;
        background-color: blue;
        padding-top: 3.5rem;
        padding-right: 3.5rem;
        padding-bottom: 2.5rem;
    }
    .item {
        width: 150px;
        height: 150px;
        background-color: violet;
    }
    }
}
}
.footer {
height: 25vh;
background-color: $BackgroundFooterHeader;
}
