/*
.header{

    }

.template-container{
    display: flex;
    flex-direction: column;
    max-width: $mainContatinerWidth;
    min-height: $mainContainerHeight;
    background-color: $templateBackground;
    margin: 0 auto;
    justify-content: center;
    .description{
        padding: 3.5rem;
        font-size: 2.2rem;
        .accent{
            color: $accentWordsColor;
        }
    }
    .proj-gallery{
        .proj-gallery-title{
            padding-top: 4.5rem;
            padding-bottom: 1.5rem;
            font-size: 2rem;
    
        }
        .proj-gallery-description{
            line-height: 2rem;
        
        }
        .product-container{
            display: flex;
            flex-wrap: wrap;
            margin: 2rem;
        }
        }

.footer{
    max-width: $mainContatinerWidth;
    background-color: $templateBackground;
    margin: 0 auto;
    text-align: center;
}
}*/