  
/* soy un comentario
*/
body{
   
}
article{
    width: 600px;
    margin: auto;
}
h1{
    font-size: 2em;
}
p{
    font-family: sans-serif
    line-height: 1.8em ;
    font-size: 1.2em;
    color: grey;
    margin-bottom: 2.6em;
}
span, time{
    margin-right: 1em;
    font-family: sans-serif;
    color: grey;
    font-weight: 600;
}