$gallery-background: #817e7e;
$filter-background: white;
$product-background: white;
$first-breakpoint-width: 320px;
$second-breakpoint-width: 480px;
$third-breakpoint-width: 768px;
$fourth-breakpoint-width: 1024px;

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
}

.title-header {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  @media (max-width: $first-breakpoint-width){
    font-size: 1rem;
    text-align: center;
  }

  @media($second-breakpoint-width){

  }
}
.content-wrapper {
  display: flex;
  background-color: $gallery-background;
  font-family: "Roboto", sans-serif;
  @media (max-width: $first-breakpoint-width) {
    flex-direction: column;
    justify-content: center;
    text-align: center;

  
  }
  .title-aside {
    margin-left: 1rem;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;

    @media (max-width: $first-breakpoint-width) {
      margin-left: 0.2rem;
      
    }
  }
  .filter-aside-group {
    @media (max-width: $first-breakpoint-width){
    width: 100%;
    }
    .filter-aside {
      margin: 1rem 7.5rem 0.5rem 1rem;
      padding: 0.5rem;
      width: 10rem;
      border-radius: 10px;
      font-weight: 600;
      background-color: $filter-background;
      display: flex;
      justify-content: space-between;

      @media (max-width: $first-breakpoint-width){
        margin: 0.5rem 3.5rem 0.25rem 0.5rem;
        width: 95%;
      }
    }
  }
}
.title-section {
  margin-left: 1rem;
  font-weight: 600;
  padding-top: 0.5rem;

  @media (max-width: $first-breakpoint-width){
    margin-left: 0.2rem;
  }
}
.product-gallery {
  display: flex;
  flex-wrap: wrap;
      
    @media (max-width: $first-breakpoint-width){
      margin: 0.2rem;
      flex-direction: column;
      align-content: center;

    }
  .product-wrapper {
    background-color: $product-background;
    margin: 1rem;
    border-radius: 10px;
    @media(max-width: $first-breakpoint-width){
      margin: 0.2rem;
    }
    .product-image {
      width: 17.7rem;
      height: 17.7rem;
      margin-bottom: 0.5rem;
      border-radius: 10px;
      background-image: url("https://images.unsplash.com/photo-1496747611176-843222e1e57c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
    
    }
    .product-name {
      padding-left: 0.5rem;
      padding-bottom: 0.5rem;
      font-weight: 600;
    }
    .product-price {
      padding-left: 0.5rem;
    }
  }
}
.lorem-footer {
  margin: 1rem;
  font-size: 1rem;
  color: #696969;
  @media (max-width: $first-breakpoint-width){
  margin: 0.5rem;
  text-align: center;
  }
}
.title-footer {
  margin: 1rem;
  font-weight: 600;
  font-size: 1.1rem;
    @media (max-width: $first-breakpoint-width){
  margin: 0.5rem;
  text-align: center;
  }
}
.fab {
  margin-left: 1rem;

    @media (max-width: $first-breakpoint-width){
      position: relative;
      top: 2.5px;
      left: 100px;
      bottom: 2.5px;
   
}
}