.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.form-wrapper{
  background-color: 	#bda3b2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 1rem;
  color: black;
}

.form-wrapper .form-input {
  width: 10rem;

}
.form-wrapper .form-button {
  width: 5rem;
  align-self: flex-start;
}

.form-wrapper .form-subwrapper{
  display: flex;
  flex-direction: row;
}
.form-wrapper .form-subwrapper{
  display: flex;
  flex-direction: row;
}

.form-wrapper .form-subwrapper .form-select{
  width:  10rem;
  height: 2rem;
}

.form-wrapper .form-subwrapper .form-subwrapper-input {
  width: 8rem;
  height: 2rem;

}