$fontColor: white;
$playButtonColor: #ED0A1D;
$buttonColor:rgba(157, 151, 151, 0.5415);
$mobileBreakpoint:  480px;
$tabletBreakpoint:  768px;
$smartdeviceBreakpoint: 968px;
$regularBreakpoint: 1024px;

$fontColor: white;
$visitedLink: white;
$hoverLink: grey;

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
}

.carrousel-wrapper{
  background-color: indigo;
}