$bodyBackground: #c3c9ce;
$templateBackground: white;
$templateFontColor: black;
$accentWordsColor:#0093FB;
$contentColor: #73777a;

$templateFontSize:1rem;
$contentFontSize:0.8rem;

$mainContatinerWidth: 55vw;
$mainContainerHeight: 100vh;

body{
    background-color: $contentColor;
    font-family:'Vidaloka', serif;
}
.wrapper{
    margin: 0 auto;
    background-color: $templateBackground;
    color: $templateFontColor;
    font-size: $templateFontSize;
    max-width: $mainContatinerWidth;
    min-height: $mainContainerHeight;
    .header{
        font-weight: 600;
        text-align: center;
        padding: 0.3rem;
    }
    .template{
        display: flex;
        flex-direction: column;
        text-align: center;
        .hero-section{
            padding: 2rem;
            .hero-section-text{
                font-size: 2.5rem;
                .accent{
                    color: $accentWordsColor;
                }
            }
            }
        }
        .proj-section{
            padding: 3rem;
            .proj-section-title{
                font-size: 1.3rem;
    
            }
            .proj-section-text{
                padding-top: 0.3rem;
                line-height: 2rem;
                color: $contentColor;
                font-size: $contentFontSize;
            }
        }
        .gallery-section{
            display: flex;
            flex-wrap: wrap;
            flex:1;
            justify-content: center;
            .image{
                display: flex;
                flex-direction: column;
                background-image: url("https://images.unsplash.com/photo-1528255671579-01b9e182ed1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80");
                background-position: center;
                background-size: cover;;
                width: 200px;
                height: 200px;
                margin: 2rem;
            
            }
            .image-text{
                line-height: 1.5rem;
            }
            .title{
                font-weight: 600;
            }
            .description{
                color: $contentColor;
            }
        }
    }
