$buttonColor:rgba(157, 151, 151, 0.5415);
$mobileBreakpoint:  480px;
$tabletBreakpoint:  768px;
$smartdeviceBreakpoint: 968px;
$regularBreakpoint: 1024px;

$fontColor: white;
$visitedLink: white;
$hoverLink: red;

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
}

.content-wrapper{
 background-color: black;
 min-height: 100vh;
 color: $fontColor;
}
