*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
}

.footer-wrapper{
  display: flex;
  justify-content: space-around;
  height: 7.5vh;
  background-color: black;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  align-items: center;
  padding-top: 0.5rem;
}